---

---

<button
  class="relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 font-medium group py-2 px-4"
>
  <span
    class="absolute inset-0 transition duration-400 ease-out transform translate-x-1 translate-y-1 bg-wine group-hover:-translate-x-0 group-hover:-translate-y-0"
  ></span>
  <span class="absolute inset-0 bg-bg border border-wine group-hover:bg-bg"
  ></span>
  <span class="relative text-wine font-orbitron text-center">Contactame</span>
</button>
