---

---

<div class="navbar fixed mt-3 w-full px-14 items-center flex justify-between">
  <div>
    <a href="#home"
      ><img
        class="h-32"
        src="https://i.postimg.cc/3Nk9hTqz/logo.png"
        alt="logo"
      /></a
    >
  </div>
  <div class="max-w-screen-xl">
    <ul class="flex space-x-7 text-base items-center font-orbitron text-wine">
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        <a href="#aboutme">Acerca de mí</a>
      </li>

      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        Experiencia
      </li>
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        Proyectos
      </li>
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        Contacto
      </li>
      <li class="border-2 rounded border-wine px-2 py-1 ">
        Curriculum
      </li>
    </ul>
  </div>
</div>
