---
import ButtonHero from "./ButtonHero.astro"
---


<div class="absolute mt-3 w-full px-14 items-center flex justify-between">
    <div>
        <img class="h-32" src="https://i.postimg.cc/3Nk9hTqz/logo.png" alt="logo">
    </div>
    <div class="max-w-screen-xl  ">
        <ul class="flex space-x-7 text-lg font-orbitron text-wine">
            <li class="border-b-2 border-transparent hover:border-blue transition duration-300">Acerca de mí</li>
            <li class="border-b-2 border-transparent hover:border-blue transition duration-300">Experiencia</li>
            <li class="border-b-2 border-transparent hover:border-blue transition duration-300">Proyectos</li>
            <li class="border-b-2 border-transparent hover:border-blue transition duration-300">Contacto</li>
        </ul>
    </div>
</div>
