---

---

<div class="navbar fixed mt-3 w-full px-14 items-center flex justify-between">
  <div>
    <a href="#home"
      ><img
        class="h-32"
        src="https://i.postimg.cc/3Nk9hTqz/logo.png"
        alt="logo"
      /></a
    >
  </div>
  <div class="max-w-screen-xl">
    <ul class="flex space-x-7 text-base items-center font-orbitron text-wine">
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        <a href="#aboutme">Acerca de mí</a>
      </li>

      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        <a href="#experience">Experiencia</a>
      </li>
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        <a href="#projects">Proyectos</a>
      </li>
      <li
        class="border-b-2 border-transparent hover:border-blue transition duration-300"
      >
        Contacto
      </li>
      <a
        href="https://drive.google.com/file/d/1r1E-u9Zd4PdS2ekFuhe8sBN8jXqLoIdP/view"
        target="_blank"
      >
        <li class="border-2 rounded border-wine px-2 py-1">Curriculum</li>
      </a>
    </ul>
  </div>
</div>
