---

---

<div class="absolute bottom-0 left-0 right-0 flex justify-between items-center pl-4 pr-4">
    <div class="flex items-center">
        <p class="text-wine">H</p>
    </div>

    <div class="text-wine transform rotate-90">
        <p class="text-lg font-orbitron">Desarrollado por <span>&lt;skullDev81&gt;</span></p>
    </div>
</div>
